{% extends 'base.html' %}

{% block head %}
<title>Connection</title>
{% endblock %}

{% load static %}

{% block page_content %}

<div class="container">
    <h1>Connexion</h1>
    {% if forms.errors %}
    <p>L'identifiant et le mot de passe ne correspondent pas. Merci d'essayer de nouveau.</p>
    {% endif %}
    
    {% if next %}
        {% if user_is_authenticated % }
            <p>Vous n'avez pas les droits pour voir cette page</p>
        { % else %}
            <p>Connectez-vous pour voir cette page.</p>
        {% endif %}

    <form method='POST' action="{% url 'login' % }">
        {% csrf_token %}
        {{ form.username.label_tag }}
        {{ form.username }}  
        
        {{ form.password.label_tag }}
        {{ form.password }}

        <input type="submit" value="Se connecter"/>
        <input type= "hidden" value= "{{ next}}" /> 
    </form>
</div>


    <!-- <form action="{ % url 'login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">E-mail :</label>
            <input type="email" id="email" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" id="password" class="form-control" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Connexion</button>
    </form>
    <p>Vous n'avez pas encore de compte, <a href="/register">inscrivez-vous</a></p>
</div> -->



{% endblock %}