{% extends 'base.html' %}

{% block head %}
<title>A bientôt ! </title>
{% endblock %}

{% load static %}

{% block page_content %}

<div class="container">
    <p>Vous avez été déconnecté.e ! </p>
    <a href="{% url 'login' % }">Cliquez ici pour vous reconnecter</a>

</div>

{% endblock %}