{% extends 'base.html' %}

{% block head %}
<title></title>
{% endblock %}

{% load static %}

{% block page_content %}

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {%if form.email.errors % }
            {{ form.email.errors % }}
        {% endif %}
        <p>{{ form.email }}</p>
        <input type="submit" class="btn btn-default btn-lg" value="Renouveler son mot de passe">
    </form>
</div>

{% endblock %}