{% extends 'base.html' %}

{% block head %}
    <title>Contact</title>
{% endblock %}

{% block page_content %}
    
    <div class="container">
        <h1>Restons en contact</h1>
        <h2>Laissez moi un message</h2>
        
    </div>
    
{% endblock %}