{% extends 'base.html' %}

{% block head %}
    <title>Accueil</title>
{% endblock %}

{% block page_content %}
    
    <div class="container">
        <h1>Une</h1>
        <h2>Bienvenue sur mon portfolio</h2>
        
    </div>
    
{% endblock %}