{% extends "base.html" %}
{% load static %}
{% block page_content %}

<container>
    <h1>Ajouter un projet</h1>
    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
         
        {{ form.as_p }} 
          
        <input type="submit" value="Ajouter"> 
    </form> 
</container>

{% endblock %}




