<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    {% extends "base.html" %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>
{% block page_content %}

<body>
    <form method="POST" class="post-form" action="/update/{{project.id}}">
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>{{project.name}}</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label"></label>
                <div class="col-sm-4">
                    <input type="hidden" name="eid" id="id_eid" required maxlength="20" value="{{ project.id }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Nom du projet :</label>
                <div class="col-sm-4">
                    <input type="text" name="name" id="id_name" required maxlength="100"
                        value="{{ project.name }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description :</label>
                <div class="col-sm-4">
                    <input type="text" name="description" id="id_description" required maxlength="254"
                        value="{{ project.description }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Image:</label>
                <div class="col-sm-4">
                    <input type="image" name="image" id="id_image"
                        value="{{ project.image }}" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Mettre à jour</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>

{% endblock %}
