{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Zoom sur</title>
{% endblock %}
{% block page_content %}

<div class="container">
    <h1>{{ project.name }}</h1>
    <div class="row">
        <div class="col-md-8">
            <img src="{% static project.image.url %}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>Le projet en bref :</h5>
            <p>{{ project.description }}</p>
            <br>
            <h5>Technologies utilisées:</h5>
            <p>{{ project.technology }}</p>
        </div>
    </div>
</div>
{% endblock %}