<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nouveau Projet</title>
    {% extends "base.html" %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block page_content %}

</head>

<body>
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th>Projet ID</th>
                <th>Nom du projet</th>
                <th>Description du projet</th>
                <th>Image</th>
                <th>Url du projet</th>
                <th>Repot Gitlab du projet</th>
                <!-- <th>Date</th>
                <th>Category id</th> -->
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.image}}</td>
                <td>{{ project.repo_url}}</td>
                <td>{{ project.website_url}}</td>
                <!-- <td>{{ project.date}}</td> -->
                <!-- <td>{{ project.category.id}}</td> -->

                <td>
                    <a href="{% url 'update' project.id %}"><span class="glyphicon glyphicon-pencil">Editer</span></a>
                    <a href="{% url 'delete' project.id %}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <br>
    <center><a href="{% url 'add'%}" class="btn btn-primary">Ajouter un projet</a></center>
</body>

</html>
{% endblock %}